* {
    box-sizing: border-box;
}

.weather {
    margin: 10px auto;
    width: 850px;
    min-height: 500px;
    padding: 50px;
    background-color: rgb(30, 30, 82);
    border-radius: 20px;
}

.loading-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-input {
    position: relative;
}

.search-input > input {
    height: 50px;
    width: 280px;
    border-radius: 50px;
    background-color: rgb(212, 212, 212);
    border: none;
    outline: none;
}

.search-input > input::placeholder {
    padding-left: 15px;
    color: black;
}

.search-input > button {
    width: 33px;
    height: 23px;
    position: absolute;
    top: 25%;
    right: 10px;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.search-input > button > img {
    width: 100%;
    height: 100%;
}

.current-button {
    border-radius: 50px;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgb(113, 113, 226);
    font-weight: bold;
}

.weather-view {
    display: flex;
    gap: 50px;
}

.weather-view {
    margin: 50px auto;
    width: 350px;
    height: 350px;
    background-color: rgb(113, 113, 226);
    border-radius: 20px;
    padding: 10px 20px;
}

.next-weather-view {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    overflow-y: auto;
}

.next-weather-view::-webkit-scrollbar {
    height: 8px;
}

.next-weather-view::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.next-weather-view::-webkit-scrollbar-button {
    display: none;
}
