.join-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 10px;
    width: 600px;
    min-height: 750px;
    height: auto;
    margin: 30px auto;
    padding: 5px 40px;
}

.join-form {
    margin: 20px auto;
}

.join-form > div > label:not(.input-image > label) {
    display: block;
    padding-bottom: 5px;
}

.join-form > div > input:not(.profile-image) {
    width: 300px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 15px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

.input-image {
    margin-bottom: 20px;
}

.input-image > label {
    display: block;
    padding-bottom: 10px;
}

.input-id {
    position: relative;
}

.input-id > input {
    margin-right: 10px;
}

.check-overlap-button {
    position: absolute;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.input-birthday > p {
    margin: 0;
    padding-bottom: 5px;
}

.birthday-select {
    width: 300px;
    display: flex;
    gap: 8px;
}

.birthday-select > select {
    height: 30px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}

.select-year {
    flex: 4;
}

.select-month {
    flex: 3;
}

.select-date {
    flex: 3;
}

.join-button {
    border: none;
    height: 30px;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
}

.error-text {
    display: block;
    font-size: 0.8em;
    color: red;
}

.join-form > span:not(.error-birthday) {
    margin-top: -10px;
    margin-bottom: 8px;
}

.join-form > .error-birthday {
    margin-top: 5px;
}
