hr {
    border: none;
    height: 2px;
    background: black;
}

.address-name-view {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 13px 0;
}

.weather-info-view {
    display: flex;
}

.weather-text-view {
    padding-left: 50px;
}

.weather-text-view > h2 {
    font-size: 2.5em;
}

.weather-text-view > span {
    display: block;
    margin-top: -10px;
    font-size: 1.5em;
}

.weather-img-view {
    padding: 20px;
}

.temp-view {
    padding-left: 50px;
    padding-top: 30px;
}

.temp-view > span {
    display: block;
}
